@import "tailwindcss";

@theme {
    --color-orange-accent: oklch(0.78 0.16 50);
    --radius-card: 12px;
    --radius-pill: 16px;
    --radius-search: 24px;
    --shadow-card: 0 2px 8px rgba(0, 0, 0, 0.1);
    --shadow-light: 0 1px 3px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-montserrat-alternates)
}